.button {
    border-radius: 20px;

    width: 320px;
    height: auto;
    padding: 0.75rem 1.25rem;
    z-index: 1;
    outline: none;
    background: rgb(20, 113, 34);

    cursor: pointer;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Poppins', sans-serif;

    transition: filter 0.2s;

    svg {
        margin-right: 8px;
    }

    &:not(:disabled):hover {
        filter: brightnesse(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;

    }
}