* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f9f9f9;
}

body {
    background: #171616;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}