.Container {
    background: #141518;
    display: flex;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

     .nav-barlogo {
          width: 20%;
          display: flex;
          padding-left: 100px;
     
          > img {
               max-height: 45px;
               left: 1.2rem;
          }
     }

    .navbar-main {
         width: 50%;

          > ul {
               display: flex;
               align-items: center;
               justify-content: center;
     
               padding: 0 21px
          }
    }

    .navbar-infos {
         width: 30%;
         display: flex;
         align-items: center;

         > svg {
              color: red;
              width: 25px;
              height: 25px;
         }
    }

    .navbar-infos .navbar-profile {
         display: flex;
         height: 100%;
         width: 100%;
         align-items: center;

         > img {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              margin-right: 10px;
         }

         > label {
               font-family: 'Roboto', -apple-system, system-ui, sans-serif;
               list-style: none;
               color: #fff;
               margin-right: 20px;
         }

         > svg {
              height: 30px;
              width: 30px;
              color: green;
              
         }
    }

   .dropdown-option {
       padding: 20px 25px;
       outline: 0;
       color: #fff;
       font-size: 18px;

       transition: opacity 0.2s;

       &:hover, &focus {
            opacity: 0.55;
       }
   }

   .dropdown-root {
       z-index: 10;
       position: absolute !important;
   }

   .dropdown-container {
        position: absolute !important;
   }

   .dropdown-section {
        position: absolute !important;
   }

}

.dropdown-arrow{
     position: relative;

     &::before{
          content: '';
          position: absolute;
          height: 16px;
          width: 16px;
          background: #fff;

          top: -6.5px;
          left: -8px;
          border-radius: 4px 0px 0px 0px;

          transform: rotate(45deg)
     }

}
    
.dropdown-root {
    z-index: 10;
    position: absolute !important;
}

.dropdown-container {
     position: absolute !important;
     overflow: hidden;
     box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25);

     background: #fff;
     border-radius: 4px;
}

.dropdown-section {
     position: absolute !important;
}